.header {
	background: #7159c1;
	color: #fff;
	font-weight: bold;
}

.title {
	padding-left: 30px;
}

.container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.content {
	margin: 30px;
}

.subtitle {
	padding-bottom: 30px;
}

.paper {
	padding: 30px;
	min-height: 300px;
	display: flex;
	flex-direction: column;
}

.footer {
	background: #7159c1;
	color: #fff;
	font-weight: bold;
	min-height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
}
