.header {
	background: #7159c1;
	color: #fff;
	font-weight: bold;
}

.container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.content {
	margin: 30px;
}

.paper {
	padding: 30px;
}

.footer {
	background: #7159c1;
	color: #fff;
	font-weight: bold;
	min-height: 45px;
}
